<div>
  <button class="cardbtn"> Duplicate </button>
  <button class="backgroundbtn cardbtn"> Dark Mode/Light Mode </button>
  <button class="deletebtn cardbtn"> Delete Last Instance </button>
  <button class="headingchangebtn cardbtn"> Change Heading </button>
</div>

<div id="card" class="size">
  <div id="head" class="top">
    <h1> Thursday Homework (Week 2) </h1>
  </div>
  <div class="image">
    <img src="https://i.ytimg.com/vi/0gC7onSsEUU/hqdefault.jpg" alt="Bing Chilling">
    <button class="haxbtn"> Details </button>

  </div>
  <div id="descript" class="desc">
    Image above depicts Actor and WWE Wrestler John Cena attempting to promote his upcoming movie, Fast and the Furious 9, in mandarin towards the chinese viewer market after previously making a controversial claim. The image comes from a video, famously known for its ridiculous scenario and for its famous line "bīng qí lín", or "Bing Chilling" as what it is commonly known as around the internet.
  </div>
</div>